$color-background: #030d26;

$color-primary-orange: #ffa633;
$color-primary-red: #ff198c;

$color-separator-off-light: #0f2b70;
$color-separator-off-dimm: #1a2644;
$color-line-separator: #1a2644;

$color-image-background: #041236;
$color-font-image: #4c6fc7;

$color-progress-track-container: #556ba1;
$color-progress-track-fill: #3a71ff;

$color-audio-border: #3a71ff;
$color-audio-progress-background: #1c419f;

$font-color: #ffffff;
$font-color-off: #43588d;
$font-color-off-hover: #556ba1;

$color-gradients: (
  'gradient-1-to-right': (
    linear-gradient(to right, $color-primary-orange, $color-primary-red),
  ),
  'gradient-1-to-bottom-right': (
    linear-gradient(to bottom right, $color-primary-orange, $color-primary-red),
  ),
  'gradient-2-to-right': (
    linear-gradient(
      to right,
      $color-separator-off-light,
      $color-separator-off-dimm
    ),
  ),
  'gradient-2-to-bottom-right': (
    linear-gradient(
      to bottom right,
      $color-separator-off-light,
      $color-separator-off-dimm
    ),
  ),
  'gradient-2-to-left': (
    linear-gradient(
      to left,
      $color-separator-off-light,
      $color-separator-off-dimm
    ),
  ),
);
