$desktop-size: 1920px;
$desktop-md-size: 1724px;
$desktop-sm-size: 1602px;

$laptop-size: 980px;
$tablet-lg-size: 795px;
$tablet-md-size: 705px;
$tablet-size: 580px;

$vh-large: 890px;
$vh-md-smoll: 695px;

@mixin breakpoint($point) {
  @if ($point == desktop) {
    @media screen and (max-width: $desktop-size) {
      @content;
    }
  }
  @if ($point == md-desktop) {
    @media screen and (max-width: $desktop-md-size) {
      @content;
    }
  }
  @if ($point == sm-desktop) {
    @media screen and (max-width: $desktop-sm-size) {
      @content;
    }
  }
  @if ($point == laptop) {
    @media screen and (max-width: $laptop-size) {
      @content;
    }
  }
  @if ($point == lg-tablet) {
    @media screen and (max-width: $tablet-lg-size) {
      @content;
    }
  }
  @if ($point == md-tablet) {
    @media screen and (max-width: $tablet-md-size) {
      @content;
    }
  }
  @if ($point == tablet) {
    @media screen and (max-width: $tablet-size) {
      @content;
    }
  }

  @if ($point == vh-desktop) {
    @media screen and (max-height: $vh-large) {
      @content;
    }
  }

  @if ($point == vh-md-desktop) {
    @media screen and (max-height: $vh-md-smoll) {
      @content;
    }
  }
}
