@use "../../mixins/index.scss" as mix;

.profile-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  transition: width 0.5s mix.$transition-width 0s;

  @include mix.breakpoint(desktop) {
    width: 1220px;
    margin: 0 auto;
  }

  @include mix.breakpoint(md-desktop) {
    width: 1080px;
  }

  @include mix.breakpoint(sm-desktop) {
    width: 870px;
  }

  @include mix.breakpoint(laptop) {
    @include mix.full-width();
  }

  .table-container {
    @include mix.full-width();
    transition: 0.6s mix.$transition-width 0s;
    @include mix.breakpoint(desktop) {
      padding: 0 0 0 215px;
    }
    @include mix.breakpoint(laptop) {
      padding: 0;
    }
  }
}

.images-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  transition: width 0.5s mix.$transition-width 0s;

  @include mix.breakpoint(desktop) {
    width: 1220px;
    margin: 0 auto;
  }

  @include mix.breakpoint(md-desktop) {
    width: 1080px;
  }

  @include mix.breakpoint(sm-desktop) {
    width: 870px;
  }

  @include mix.breakpoint(laptop) {
    @include mix.full-width();
  }

  .gallery {
    @include mix.flex-do-row();
    @include mix.full-width();
    flex-wrap: wrap;

    .divide-gallery {
      @mixin img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      @mixin ximg($width: 250px, $height: 150px) {
        position: relative;
        width: $width;
        height: $height;
        margin: 10px 15px;
        border-radius: 5px;
        background-color: mix.$color-image-background;
        overflow: hidden;
        > img {
          @include img();
        }
      }
      @mixin divide-gallery($_flex: false, $flex: 22.2222%) {
        @include mix.flex-do-col();
        margin: 0 8px;

        @if ($_flex) {
          flex: $flex;
        }
      }
      &-3 {
        @include divide-gallery(true, 33.3333%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 45.5555%);
        }
        .ximg {
          @include ximg($width: 100%);
        }
      }
      &-2 {
        @include divide-gallery(true, 22.2222%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 15.1515%);
        }
        .ximg {
          @include ximg($width: 100%);
        }
      }
      &-1 {
        @include divide-gallery(true, 11.1111%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 100%);
        }
        .ximg {
          @include ximg($width: 100%);
          &:last-child {
            border: 1px solid mix.$color-separator-off-light;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: map-get(
                $map: mix.$color-gradients,
                $key: 'gradient-2-to-bottom-right'
              );
              opacity: 0.825;
            }
            &::after {
              content: 'SEE MORE :)';
              position: absolute;
              text-align: center;
              width: 100%;
              @include mix.posXY($x: 50%, $y: 50%, $focus: 'center');
              font-family: map-get($map: mix.$fonts, $key: 'Exo 2');
            }
          }
        }
      }
    }
  }
}

.music-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  transition: width 0.5s mix.$transition-width 0s;

  @include mix.breakpoint(desktop) {
    width: 1220px;
    margin: 0 auto;
  }

  @include mix.breakpoint(md-desktop) {
    width: 1080px;
  }

  @include mix.breakpoint(sm-desktop) {
    width: 870px;
  }

  @include mix.breakpoint(laptop) {
    @include mix.full-width();
  }
}

.footer-container {
  transition: width 0.7s mix.$transition-width 0s,
    padding 0.6s mix.$transition-margin 0s;
  @include mix.breakpoint(desktop) {
    @include mix.flex-do-row(
      $p-all: true,
      $p-top: 20,
      $align: center,
      $justify-content: space-around
    );
    width: 80%;
    margin: 0 auto;
  }

  @include mix.breakpoint(laptop) {
    @include mix.flex-do-col($p-all: true, $p-top: 20);
  }

  .divide-row {
    @include mix.flex-do-row();
    margin: 15px 10px;
  }

  span.author {
    margin: 15px 10px;
    font-family: mix.$fonts-navbar-link;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
  }
  span.icon {
    margin: 15px 10px;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    transition: filter 0.2s mix.$transition-soft-end 0s;
    &:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    }
  }
}

@mixin button-navigation-container($multiple: false, $justify: space-around) {
  @include mix.flex-do-row($justify-content: $justify);
  @include mix.full-width();

  @if ($multiple) {
    > a {
      margin: 0 10px;
      &:first-child {
        margin: 0 10px 0 0;
      }
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
  }

  @if ($multiple == false) {
    > a {
      margin: 0 0;
    }
  }
}

.button-navigation-container {
  @include mix.breakpoint(desktop) {
    @include button-navigation-container($multiple: false, $justify: flex-end);
    > a {
      width: fit-content;
    }
  }
  @include mix.breakpoint(sm-desktop) {
    @include button-navigation-container(
      $multiple: false,
      $justify: space-around
    );
    > a {
      width: 100%;
    }
  }
}

.buttons-navigation-container {
  @include button-navigation-container($multiple: true);
}
