@use "../../mixins/index.scss" as mix;

.profile-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  @include mix.full-width();
}

.images-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  @include mix.full-width();

  .gallery {
    @include mix.flex-do-row();
    @include mix.full-width();
    flex-wrap: wrap;

    .divide-gallery {
      @mixin img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      @mixin ximg($width: 250px, $height: 150px) {
        position: relative;
        width: $width;
        height: $height;
        margin: 10px 15px;
        border-radius: 5px;
        background-color: mix.$color-image-background;
        overflow: hidden;
        > img {
          @include img();
        }
      }
      @mixin divide-gallery($_flex: false, $flex: 22.2222%) {
        @include mix.flex-do-col();
        margin: 0 8px;

        @if ($_flex) {
          flex: $flex;
        }
      }
      &-3 {
        @include divide-gallery(true, 33.3333%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 45.5555%);
        }
        .ximg {
          @include ximg($width: 100%);
        }
      }
      &-2 {
        @include divide-gallery(true, 22.2222%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 15.1515%);
        }
        .ximg {
          @include ximg($width: 100%);
        }
      }
      &-1 {
        @include divide-gallery(true, 11.1111%);
        @media screen and (max-width: 705px) {
          @include divide-gallery(true, 100%);
        }
        .ximg {
          @include ximg($width: 100%);
          &:last-child {
            border: 1px solid mix.$color-separator-off-light;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: map-get(
                $map: mix.$color-gradients,
                $key: 'gradient-2-to-bottom-right'
              );
              opacity: 0.825;
            }
            &::after {
              content: 'SEE MORE :)';
              position: absolute;
              text-align: center;
              width: 100%;
              @include mix.posXY($x: 50%, $y: 50%, $focus: 'center');
              font-family: map-get($map: mix.$fonts, $key: 'Exo 2');
            }
          }
        }
      }
    }
  }
}

.music-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);
  @include mix.full-width();
}

.footer-container {
  @include mix.flex-do-col($p-all: true, $p-top: 20);

  .divide-row {
    @include mix.flex-do-row();
    margin: 15px 10px;
  }

  span.author {
    margin: 15px 10px;
    font-family: mix.$fonts-navbar-link;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
  }
  span.icon {
    margin: 15px 10px;
  }
}

.button-navigation-container {
  @include mix.flex-do-row($justify-content: space-around);
  @include mix.full-width();

  > a {
    margin: 0 10px;
    &:first-child {
      margin: 0 10px 0 0;
    }
    &:last-child {
      margin: 0 0 0 10px;
    }
  }
}
