@use "../../vars/index" as i;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: i.$font-default;
  color: i.$font-color;
  outline: none;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: i.$color-background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: i.$color-separator-off-dimm;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: i.$color-separator-off-light;
  }
}

html {
  background-color: i.$color-background;
  &::before {
    content: '';
    position: fixed;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url('../../../assets/images/bg/bg7.png');
    background-size: cover;
    // background-position: center -260px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

button {
  padding: 4px 7px;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: i.$font-color;
  text-decoration: none;
  width: 100%;
}
