@use "../../mixins/index.scss" as mix;

@mixin audio-player($active: false) {
  position: relative;
  overflow: hidden;

  * {
    z-index: 1;
  }

  @if ($active) {
    @include mix.flex-do-row(
      $p-top: 40,
      $p-right: 20,
      $p-bottom: 40,
      $p-left: 20,
      $width: 100%,
      $justify-content: flex-start,
      $align: center
    );

    box-shadow: 0 7px 14px -1.6px rgba(mix.$color-audio-border, 0.7);
    border: 1px solid mix.$color-audio-border;
  }
  @if ($active == false) {
    @include mix.flex-do-row(
      $p-all: true,
      $p-top: 20,
      $width: 100%,
      $justify-content: flex-start,
      $align: center
    );

    border: 1px solid mix.$color-audio-progress-background;
  }

  border-radius: 5px;
  margin-bottom: 20px;

  transition: box-shadow 0.4s mix.$transition-soft-end 0s,
    padding 0.4s mix.$transition-soft-end 0s,
    border 0.4s mix.$transition-soft-end 0s;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    transition: font-size 0.3s mix.$transition-soft-end 0s;
  }

  .audio-info {
    @include mix.flex-do-col($p-all: true, $p-top: 5px, $align: flex-start);
    margin-left: 10px;

    .audio-control {
      @include mix.flex-do-row($align: center, $justify-content: flex-start);
      @include mix.full-width();
      overflow: hidden;
      margin: 4px 0 0;
      transition: opacity 0.3s linear 0s,
        height 0.5s mix.$transition-soft-end 0s;
      > button.button-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2px 7px 2px 2px;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        transition: background-color 0.4s mix.$transition-soft-end 0s;
        &:active,
        &:hover {
          background-color: rgba(mix.$color-audio-border, 0.15);
        }
      }
    }
  }

  .volume-track {
    border-radius: 4px;
    margin: 0 4px;
    height: 4px;
    width: 150px;
    background-color: mix.$color-audio-progress-background;
    transition: box-shadow 0.3s mix.$transition-soft-end 0s;
    &:active,
    &:hover {
      box-shadow: 0 0 12px 0.5px #3a71ff;
    }
  }

  .progress-track-container {
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(mix.$color-progress-track-container, 0.15);
    overflow: hidden;
    transition: width 0.4s mix.$transition-margin 0s,
      opacity 0.3s mix.$transition-soft-end 0s;
    .progress-track-fill {
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: rgba(mix.$color-progress-track-fill, 0.25);
      transition: width 0.8s mix.$transition-soft-end 0s;
    }
  }
}

.audio-player-on {
  @include audio-player($active: true);
  .title {
    font-size: 14px;
  }
  .audio-control {
    opacity: 1;
    height: 46px;
  }
  .progress-track-container {
    width: 100%;
  }
}

.audio-player-off {
  @include audio-player($active: false);
  .title {
    font-size: 17px;
  }
  .audio-control {
    opacity: 0;
    height: 0;
  }
  .progress-track-container {
    width: 0;
    opacity: 0;
  }
}
