@use "../../mixins/index.scss" as mix;

@mixin on-buffer-animation {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(mix.$color-background, 0.6);
  width: 103%;
  height: 120%;
  border-radius: 5px;
  border: 1px solid mix.$color-audio-border;
  animation: audioblob 2s infinite;
  animation-timing-function: mix.$transition-soft-end;
}

@mixin audio-player($active: false) {
  position: relative;
  // overflow: hidden;

  span.on-buffer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    &::before {
      @include on-buffer-animation;
    }
  }

  * {
    z-index: 1;
  }

  @if ($active) {
    @include mix.flex-do-row(
      $p-top: 40,
      $p-right: 20,
      $p-bottom: 40,
      $p-left: 20,
      $width: 100%,
      $justify-content: flex-start,
      $align: center
    );

    @include mix.breakpoint(lg-tablet) {
      padding: 150px 20px 20px 20px;
    }

    @include mix.breakpoint(tablet) {
      @include mix.flex-do-col(
        $p-top: 150,
        $p-right: 20,
        $p-bottom: 20,
        $p-left: 20,
        $width: 100%,
        $justify-content: center,
        $align: flex-start
      );
    }

    box-shadow: 0 7px 14px -1.6px rgba(mix.$color-audio-border, 0.7);
    border: 1px solid mix.$color-audio-border;
  }
  @if ($active == false) {
    @include mix.flex-do-row(
      $p-all: true,
      $p-top: 20,
      $width: 100%,
      $justify-content: flex-start,
      $align: center
    );

    border: 1px solid mix.$color-audio-progress-background;
  }

  border-radius: 5px;
  margin-bottom: 20px;

  transition: box-shadow 0.4s mix.$transition-soft-end 0s,
    padding 0.4s mix.$transition-soft-end 0s,
    border 0.4s mix.$transition-soft-end 0s;

  &:last-child {
    margin-bottom: 0;
  }

  #control-play {
    padding: 0;
    width: 75px;
    height: 75px;

    @include mix.breakpoint(tablet) {
      @if ($active == false) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .controls-wrap {
    width: 100%;

    #bufferStatus {
      transition: 0.6s mix.$transition-soft-end 0s;

      @if ($active) {
        @include mix.breakpoint(tablet) {
          position: absolute;
          top: 8px;
          left: 0;
        }
      }
    }

    @include mix.breakpoint(sm-desktop) {
      @include mix.flex-do-row(
        $align: center,
        $justify-content: flex-start,
        $width: 70%
      );
    }

    @include mix.breakpoint(lg-tablet) {
      width: 100%;
    }
  }

  .title {
    transition: font-size 0.3s mix.$transition-soft-end 0s;
  }

  .duration {
    color: mix.$color-audio-border;
    font-weight: 500;
    margin-left: 8px;
  }

  .audio-info {
    @include mix.flex-do-col($p-all: true, $p-top: 5, $align: flex-start);
    margin-left: 10px;

    @include mix.breakpoint(tablet) {
      margin-left: 0px;
    }

    .audio-control {
      @include mix.flex-do-row($align: center, $justify-content: flex-start);
      @include mix.full-width();
      overflow: hidden;
      margin: 4px 0 0;
      transition: opacity 0.3s linear 0s,
        height 0.5s mix.$transition-soft-end 0s;
      > button.button-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2px 7px 2px 2px;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        transition: background-color 0.4s mix.$transition-soft-end 0s;
        &:active,
        &:hover {
          background-color: rgba(mix.$color-audio-border, 0.15);
        }
      }
    }
  }

  .volume-track {
    border-radius: 4px;
    margin: 0 4px;
    height: 4px;
    width: 150px;
    background-color: mix.$color-audio-progress-background;
    transition: box-shadow 0.3s mix.$transition-soft-end 0s;
    &:active,
    &:hover {
      box-shadow: 0 0 12px 0.5px #3a71ff;
    }

    @include mix.breakpoint(lg-tablet) {
      width: 100%;
    }
  }

  .progress-track-container {
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 50%;
    left: 0;
    // border-radius: 5px;
    transform: translateY(-50%);
    background-color: rgba(mix.$color-progress-track-container, 0.15);
    overflow: hidden;
    transition: width 0.4s mix.$transition-margin 0s,
      opacity 0.3s mix.$transition-soft-end 0s;
    .progress-track-fill {
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: rgba(mix.$color-progress-track-fill, 0.25);
      transition: width 0.8s mix.$transition-soft-end 0s;
    }
  }

  .thumbnail {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 250px;
    height: 100%;
    z-index: -1;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
    transition: transform 0.3s mix.$transition-soft-end 0s,
      width 0.5s mix.$transition-soft-end 0s,
      height 0.7s mix.$transition-soft-end;

    @if ($active) {
      @include mix.breakpoint(lg-tablet) {
        top: 0;
        right: 0;
        left: 50%;
        width: 100%;
        height: 165px;
        transform: translateX(-50%);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(mix.$color-background, 1),
        rgba(mix.$color-background, 0.5),
        rgba(mix.$color-separator-off-dimm, 0)
      );

      @if ($active) {
        @include mix.breakpoint(lg-tablet) {
          background: linear-gradient(
            to top,
            rgba(mix.$color-background, 1),
            rgba(mix.$color-background, 0.5),
            rgba(mix.$color-separator-off-dimm, 0)
          );
        }
      }
    }

    > span.lazy-load-image-background {
      display: unset !important;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      opacity: 0.8;
      z-index: 0;
    }
  }
}

.audio-player-on {
  @include audio-player($active: true);
  .controls-wrap {
    @include mix.breakpoint(sm-desktop) {
      @include mix.flex-do-col(
        $width: 70%,
        $align: flex-start,
        $justify-content: center
      );
    }

    @include mix.breakpoint(lg-tablet) {
      width: 100%;
    }
  }
  .title {
    font-size: 14px;

    @include mix.breakpoint(sm-desktop) {
      margin: 6px 0 0;
    }

    @include mix.breakpoint(tablet) {
      text-indent: 1.35rem;
    }
  }
  .duration {
    @include mix.breakpoint(sm-desktop) {
      margin-left: 0;
    }
  }
  .audio-control {
    opacity: 1;
    height: 46px;
  }
  .progress-track-container {
    width: 100%;
  }
}

.audio-player-off {
  @include audio-player($active: false);
  .title {
    font-size: 17px;

    @include mix.breakpoint(sm-desktop) {
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
  .audio-control {
    opacity: 0;
    height: 0;
  }
  .progress-track-container {
    width: 0;
    opacity: 0;
  }
}

@keyframes audioblob {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    width: 104%;
    height: 130%;
    opacity: 0;
  }
}
