@use "../../mixins/index.scss" as mix;

.button-navigation {
  @include mix.full-width();
  @include mix.set-padding($all: true, $top: 20);
  position: relative;
  border: 1px solid mix.$color-separator-off-light;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-7%, -50%) skew(-45deg);
    background-color: rgba(0, 0, 0, 0.157);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0s, left 0.5s mix.$transition-soft-end 0s,
      transform 0.5s mix.$transition-soft-end 0s;
  }
  &:hover {
    background: map-get(
      $map: mix.$color-gradients,
      $key: 'gradient-2-to-right'
    );
    box-shadow: 0 0 24px -2.5px mix.$color-separator-off-light;
    &::after {
      opacity: 1;
      left: 50%;
      transform: translate(-50%, -50%) skew(0);
    }
    > span {
      margin: 0 8px;
    }
  }

  @include mix.breakpoint(desktop) {
    @include mix.set-padding($top: 20, $right: 50, $bottom: 20, $left: 50);
  }

  > span {
    font-family: map-get($map: mix.$fonts, $key: 'Raleway');
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    transition: margin 0.4s mix.$transition-margin 0s;
  }
}
