@use "../../mixins/index.scss" as mix;

.button-navigation {
  @include mix.full-width();
  @include mix.set-padding($all: true, $top: 20);
  border: 1px solid mix.$color-separator-off-light;
  &:hover {
    background: map-get(
      $map: mix.$color-gradients,
      $key: 'gradient-2-to-right'
    );
    box-shadow: 0 0 24px -2.5px mix.$color-separator-off-light;
  }

  @include mix.breakpoint(desktop) {
    @include mix.set-padding($top: 20, $right: 50, $bottom: 20, $left: 50);
  }

  > span {
    font-family: map-get($map: mix.$fonts, $key: 'Raleway');
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }
}
